#content {
	width:100%;
	white-space:nowrap;
}
#map {
	display:inline-block;
	height: 600px;
	width: 1250px;	
}
#map-canvas { 
	height: 100%;
}
.block {
  	padding: 40px 40px 0 40px;	
}
.box-shadow-right-bottom {
  	padding: 20px;   
  	border: 1px solid #d6e9c6;
}
.box-shadow-right-bottom {
  	-moz-box-shadow: 10px 10px 15px #ccc;
  	-webkit-box-shadow: 10px 10px 15px #ccc;
  	box-shadow: 10px 10px 15px #ccc;  		
}
.badge {
	float: right
}

.msglist {
	position:relative;
	left: 140px;
	width:450px;
	height:250px;	
	overflow-y:auto;
	background-color:#AEFFEA;
	word-wrap:normal;	
}

input[type="button"]{
	position: relative;
	left: 5px;
	bottom: 15px;
	border:2px solid;
}

textarea{
	width: 400px;
	resize: none;
}

.infowindow
 {
        font-size:24px;
        width: 250px;
        color: #ff0000;
        font-family:Arial, Helvetica, sans-serif;
     }
