#content {
	width:100%;
	white-space:nowrap;
}
#map {
	display:inline-block;
	height: 600px;
	width: 1250px;	
}
#map-canvas { 
	height: 100%;
}
.block {
  	padding: 40px 40px 0 40px;	
}
.box-shadow-right-bottom {
  	padding: 20px;   
  	border: 1px solid #d6e9c6;
}
.box-shadow-right-bottom {
  	-moz-box-shadow: 10px 10px 15px #ccc;
  	-webkit-box-shadow: 10px 10px 15px #ccc;
  	box-shadow: 10px 10px 15px #ccc;  		
}
.badge {
	float: right
}
