<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.google.guestbook.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ajax</servlet-name>
        <servlet-class>com.google.guestbook.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajax</servlet-name>
        <url-pattern>/ajax/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajax2</servlet-name>
        <servlet-class>com.google.guestbook.StoreImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajax2</servlet-name>
        <url-pattern>/ajax2/*</url-pattern>
    </servlet-mapping>
    <servlet>
    		<servlet-name>ajax3</servlet-name>
    		<servlet-class>com.google.guestbook.GetImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    		<servlet-name>ajax3</servlet-name>
    		<url-pattern>/ajax3/*</url-pattern>
    </servlet-mapping>
</web-app>
