<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.google.guestbook.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.google.guestbook.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController/*</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>reviewController</servlet-name>
        <servlet-class>com.google.guestbook.ReviewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reviewController</servlet-name>
        <url-pattern>/reviewController/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterSpot</servlet-name>
        <servlet-class>com.google.guestbook.RegisterSpotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterSpot</servlet-name>
        <url-pattern>/RegisterSpot/*</url-pattern>
    </servlet-mapping>
</web-app>
